@import "tailwindcss";

@theme {
  --color-main: var(--color-main);
  --color-label: var(--color-label);
  --color-highlight: var(--color-highlight);
}

html {
  --color-main: #0f172a;
  --color-label: #ffffff;
  --color-highlight: #39ff14;
  background-color: var(--color-main);
  color: var(--color-label);
  scroll-behavior: smooth;
}

section {
  @apply h-screen w-full flex;
}

button {
  @apply cursor-pointer;
}
